:root {

    @each $shade, $value in $all-colors {
        --clr-#{$shade}: #{$value};
    }

    @each $color, $value in $body-colors {
        --clr-#{$color}: #{$value};
    }

    --bs-body-color: #{$body-color-var};

    --spacer: 1rem;
    --hero-padding: max(1rem, 8vmin);

    @include font-size-variables($font-sizes-base);

    --fw-base: 400;
    --fw-header: 600;
    --fw-display: 700;

    --bs-gutter-x: 1.25rem;

    --ls-base: #{$letter-spacing-base};
    --ls-header: #{$letter-spacing-header};

    --lh-base: 1.625;
    --lh-header: 1;

    --clr-primary: #{$primary};
    --clr-info: #{$info};
    --clr-success: #{$success};
    --clr-danger: #{$danger};
    --clr-light: #{$light};
    --clr-header: #{$dark};

    --content-max-width: 1080px;
}

.theme-dark:root {
    @each $shade, $value in $all-colors-dark {
        --clr-#{$shade}: #{$value};
    }

    @each $color, $value in $body-colors-dark {
        --clr-#{$color}: #{$value};
    }

    --bs-body-color: #{$body-color-var-dark};
}

@include media-breakpoint-up(md) {
    :root {
        --bs-gutter-x: #{$container-gutter-md};
    }
}

@include media-breakpoint-up(lg) {
    :root {
        @include font-size-variables($font-sizes-larger);
        --bs-gutter-x: #{$container-gutter-lg};
    }
}

@include media-breakpoint-up(xl) {
    :root {
        --bs-gutter-x: #{$container-gutter-xl};
    }
}

@include media-breakpoint-up(xxl) {
    :root {
        --bs-gutter-x: #{$container-gutter-xxl};
        --spacer: 1.25rem;
    }
}