h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--ls-header);
    font-weight: var(--fw-header);
}

body {
    font-size: var(--fs-400);
    font-weight: var(--fw-base);
    letter-spacing: var(--ls-base);
}
