.article-grid {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "info"
        "share"
        "desc"
        "article"
}

@media screen and (min-width: 992px) {
    .article-grid {
    grid-template-columns: 3fr 4fr 4fr 3fr;
    grid-template-areas:
        ". title title ."
        ". info share ."
        ". desc desc ."
        ". article article .";
    }

    .article-share {
        justify-content: end;
    }

    .article {
        --article-font-size: var(--fs-500);
    }
}

.article-title {
    grid-area: title;
}
.article-desc {
    grid-area: desc;
}
.article-info {
    grid-area: info;
    display: grid;
    gap: 0 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: "author" "date";
}
.article-author {
    grid-area: author;
}
.article-date {
    grid-area: date;
}
.article-share {
    grid-area: share;
}
.article {
    --article-font-size: var(--fs-400);
    grid-area: article;

}
.avatar {
    grid-area: avatar;
}