.article-grid {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "info"
        "share"
        "desc"
        "article"
}

@media screen and (min-width: 992px) {
    .article-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". title title title"
        "info desc desc desc"
        "info article article article";
    }
}

.article-title {
    grid-area: title;
}
.article-desc {
    grid-area: desc;
}
.article-author {
    grid-area: author;
}
.article-date {
    grid-area: date;
}
.article-info {
    grid-area: info;
}
.article {
    --article-font-size: var(--fs-400);
    grid-area: article;

}
.avatar {
    grid-area: avatar;
}