.showcase-grid-3 {

    --gap: max(1rem, 2vw);

    display: grid;
    grid-template-areas: "showcase1" "showcase2" "showcase3";
    gap: var(--gap);

    .showcase-1 {
        grid-area: showcase1;
    }
    .showcase-2 {
        grid-area: showcase2;
    }
    .showcase-3 {
        grid-area: showcase3;
    }

}

@include media-breakpoint-up(md) {
    .showcase-grid-3 {
        grid-template-areas: 
            "showcase1 showcase2 showcase3";
        }
}

.showcase-1, .showcase-2, .showcase-3 {
    &:hover svg {
        transform: rotate(0.1turn);
        transition: 0.75s ease-in-out;
    }
}