$primary: #3D425C;
$info: #7F96FF;
$success: #58BC82;
$danger: #FF6542;
$light: hsl(0, 0%, 90%);

$custom-theme-colors: (
  "primary": $primary,
  "info": $info,
  "success": $success,
  "danger": $danger,
  "light": $light
);

$custom-spacers: (
    6: $spacer * 5,
    7: $spacer * 8,
    8: $spacer * 10,
    hero: var(--hero-padding)
);

$base-font-sizes: (
  300: 0.875rem,
  400: 1rem,
  500: 1.125rem,
  600: 1.25rem,
  700: 1.5rem
);

$header-base-font-sizes: (
  h1: 2.75rem,
  h2: 2.5rem,
  h3: 2.25rem,
  h4: 2rem,
  h5: 1.5rem,
  h6: 1.25rem
);

$display-base-font-sizes: (
  d1: 2.75rem,
  d2: 2.5rem,
  d3: 2.25rem,
  d4: 2rem,
  d5: 1.5rem,
  d6: 1.25rem
);

// Hamburger

$hamburger-padding-x           : 0.15em;
$hamburger-padding-y           : 0.2em;
$hamburger-layer-width         : 1.5em;
$hamburger-layer-height        : 0.15em;
$hamburger-layer-spacing       : 0.25em;
$hamburger-layer-color         : var(--color);
$hamburger-layer-border-radius : 0.25em;
$hamburger-hover-opacity       : 0.75;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// Icons

$icon-sizes: (
    sm: 0.75em,
    md: 2em,
    lg: 4em,
    xl: 6em
);

$font-size-base:              1rem;
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$h1-font-size:                var(--fs-h1);
$h2-font-size:                var(--fs-h2);
$h3-font-size:                var(--fs-h3);
$h4-font-size:                var(--fs-h4);
$h5-font-size:                var(--fs-h5);
$h6-font-size:                var(--fs-h6);

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$display-font-sizes: (
  1: var(--fs-d1),
  2: var(--fs-d2),
  3: var(--fs-d3),
  4: var(--fs-d4),
  5: var(--fs-d5),
  6: var(--fs-d6)
);

$display-font-weight: 600;

$navbar-padding-y:                  1rem;
$navbar-nav-link-padding-x:         .5rem;

$navbar-brand-font-size:            2rem;
$navbar-brand-padding-y:            0;

$navbar-dark-color:                 rgba($light, 1);
$navbar-dark-hover-color:           var(--bs-white);
$navbar-dark-active-color:          var(--bs-white);
$navbar-dark-disabled-color:        rgba($light, .25);

$navbar-light-color:                rgba(var(--bs-primary-rgb), .7);
$navbar-light-hover-color:          rgba(var(--bs-primary-rgb), 1);
$navbar-light-active-color:         rgba(var(--bs-primary-rgb), 1);
$navbar-light-disabled-color:       rgba(0, 0, 0, .3);
