$primary: #3D425C;
$info: #7F96FF;
$success: #58BC82;
$danger: #FF6542;
$light: hsl(0, 0%, 90%);

$custom-theme-colors: (
  "primary": $primary,
  "info": $info,
  "success": $success,
  "danger": $danger,
  "light": $light
);

$custom-spacers: (
    6: $spacer * 5,
    7: $spacer * 8,
    8: $spacer * 10,
    hero: var(--hero-padding)
);


// Hamburger

$hamburger-padding-x           : 0.15em;
$hamburger-padding-y           : 0.2em;
$hamburger-layer-width         : 1.5em;
$hamburger-layer-height        : 0.15em;
$hamburger-layer-spacing       : 0.25em;
$hamburger-layer-color         : var(--color);
$hamburger-layer-border-radius : 0.25em;
$hamburger-hover-opacity       : 0.75;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// Icons
$icon-sizes: (
    sm: 0.75em,
    md: 2em,
    lg: 4em,
    xl: 6em
);

$font-size-base:              1rem;
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$display-font-weight: 600;

$navbar-padding-y:                  1rem;
$navbar-nav-link-padding-x:         .5rem;

$navbar-brand-font-size:            2rem;
$navbar-brand-padding-y:            0;

$navbar-dark-color:                 rgba($light, 1);
$navbar-dark-hover-color:           var(--bs-white);
$navbar-dark-active-color:          var(--bs-white);
$navbar-dark-disabled-color:        rgba($light, .25);

$navbar-light-color:                rgba(var(--bs-primary-rgb), .7);
$navbar-light-hover-color:          rgba(var(--bs-primary-rgb), 1);
$navbar-light-active-color:         rgba(var(--bs-primary-rgb), 1);
$navbar-light-disabled-color:       rgba(0, 0, 0, .3);
