// Custom property maps
$root-vars: ();
$root-vars-dark: ();

// Color
$primary: #0284c7;
$primary-hover: #0276b1;
$secondary: #a67db8;
$secondary-hover: #9e72b1;
$success: #22c55e;
$warning: #fb923c;
$danger: #e11d48;
$body: #334155;
$background: #fff;

$colors: (
  primary: $primary,
  primary-hover: $primary-hover,
  secondary: $secondary,
  secondary-hover: $secondary-hover,
  success: $success,
  warning: $warning,
  danger: $danger,
  body: $body,
  bg: $background,
  contrast: #000,
);

@each $color, $value in $colors {
  @include root-var($color, $value);
}

$primary-dark: $primary;
$secondary-dark: $secondary;
$success-dark: $success;
$warning-dark: $warning;
$danger-dark: $danger;
$body-dark: #e2e8f0;
$background-dark: #27272a;

$colors-dark: (
  primary: $primary-dark,
  secondary: $secondary-dark,
  success: $success-dark,
  warning: $warning-dark,
  danger: $danger-dark,
  body: $body-dark,
  bg: $background-dark,
  contrast: #fff,
);

@each $color, $value in $colors-dark {
  @include root-var-dark($color, $value);
}

// Spacing

$spacers: (
  0: 0,
  1: 1px,
  2: 0.125rem,
  3: 0.25rem,
  4: 0.5rem,
  5: 0.75rem,
  6: 1rem,
  7: 1.25rem,
  8: 1.5rem,
  9: 2rem,
  10: 3rem,
  11: 5rem,
  12: 8rem,
  13: 10rem,
  14: 16rem,
);

@each $spacer, $value in $spacers {
  @include root-var("s-" + $spacer, $value);
}

// Borders

$border-color: #e2e8f0;
@include root-var("border-color", $border-color);

$hairline-width: 1px;
@include root-var("hairline-width", $hairline-width);

$hairline-width-2: 0.5px;
$hairline-width-4: 0.25px;

// Typography
$type-scale: (xs, sm, base, lg, xl, 2xl, 3xl, 4xl, 5xl, 6xl, 7xl, 8xl, 9xl);

$font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-serif: ui-serif, Athleas, Georgia, Cambria, "Times New Roman", Times,
  serif;

$font-families: (
  "sans": $font-sans,
  "mono": $font-mono,
  "serif": $font-serif,
  "display": $font-sans,
);

@each $font, $value in $font-families {
  @include root-var("font-" + $font, inspect($value));
}

$text-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.875rem,
  4xl: 2.25rem,
  5xl: 3rem,
  6xl: 3.75rem,
  7xl: 4.5rem,
  8xl: 6rem,
  9xl: 8rem,
);

@include root-var(prose-size, map-get($text-sizes, base));

$line-heights: (
  xs: 1rem,
  sm: 1.25rem,
  base: 1.5rem,
  lg: 1.75rem,
  xl: 1.75rem,
  2xl: 2rem,
  3xl: 2.25rem,
  4xl: 2.5rem,
  5xl: 1,
  6xl: 1,
  7xl: 1,
  8xl: 1,
  9xl: 1,
);

$headings: (
  1: 5xl,
  2: 4xl,
  3: 3xl,
  4: 2xl,
  5: xl,
  6: lg,
);
