.article-author {
    margin-bottom: 0;
    font-weight: 500;
}

.article-desc {
    color: var(--bs-dark-gray);
}

.article-date {
    color: var(--bs-gray);
}


.article-share {
    display: flex;
    align-items: center;

    span {
        margin-right: 0.25rem;
        color: var(--bs-black);
    }
}

.article {
    p {
        color: var(--bs-dark-gray);
    }

    li {
        padding-block: 0.5em;

        &::marker {
            color: var(--bs-gray);
        }
    }
}

.avatar {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}