.article-author {
    margin-bottom: 0;
    font-weight: 500;
}
.article-title {
    font-weight: 600;
    @include font-size(2.5rem);
    margin-bottom: var(--article-font-size);
}

.article-desc {
    color: var(--bs-dark-gray);
    font-size: var(--article-font-size);
    line-height: 1.625;
}

.article-date {
    color: var(--bs-gray);
}


.article-share {
    display: flex;
    align-items: center;

    span {
        margin-right: 0.25rem;
        font-size: var(--fs-400);
        font-weight: normal;
        color: var(--bs-black);
    }
}

.article {
    p {
        color: var(--bs-dark-gray);
        font-size: var(--article-font-size);
        line-height: 1.625;
        margin-bottom: var(--article-font-size);
    }

    li {
        padding-block: 0.5em;

        &::marker {
            color: var(--bs-gray);
        }
    }
}

.avatar {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}