.posts {
    ul {
        list-style: none;
        padding: none;
        margin: none;
    }
}

.post {
    padding-block: 2rem;

    p {
        margin-bottom: 0.25rem;
    }
}

.post-title {
    text-decoration: none;
    color: var(--bs-dark-gray);
}

.post-date {
    color: var(--bs-gray);
}

.post-description {
    color: var(--bs-gray);
}