.card-title {
    font-size: var(--fs-600);
    color: var(--clr-dark);
    font-weight: 600;
}

.link-unstyled {
    color: inherit !important;
    text-decoration: none;
}

.swatch {
    min-height: 8rem;
}