.content-container {
    display: flex;
    justify-content: center;
}

.content-container {
    max-width: var(--content-max-width);
}

.article-tile {

    --margin-bottom: 4rem;

    display: grid;
    gap: 1rem 0;
    grid-template-areas:
        "category" "title" "author" "date" "img" "lead";

    margin-bottom: var(--margin-bottom);
}

@include media-breakpoint-up(md) {
    .article-tile {
        grid-template-areas:
            "category date" "title title" "author author" "img img" "lead lead";
    }
}

@include media-breakpoint-up(lg) {
    .article-tile {
        --margin-bottom: 8rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "category date" "title title" "author img" "lead img";
    }
}

@include media-breakpoint-up(xl) {
    .article-tile {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "category category category date" "title title title author" "lead lead img img";
    }
}

.article-tile-category {
    grid-area: category;
}
.article-tile-title {
    grid-area: title;
}
.article-tile-author {
    grid-area: author;
}
.article-tile-date {
    grid-area: date;
    padding-top: auto;
}
.article-tile-img {
    grid-area: img;
}
.article-tile-lead {
    grid-area: lead;
    font-size: var(--fs-400);
}