@each $shade, $value in $all-colors {

    .text-#{$shade} {
        color: var(--clr-#{shade});
    }

    .bg-#{$shade} {
        background-color: var(--clr-#{$shade});
        color: color-contrast($value);
    }
}

.pallet {
    height: 150px;
    width: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: var(--bg-color, var(--clr-gray-100));
}