.btn-social {
    color: var(--bs-primary);
}

.btn-share {
    border: none !important;
    background: none !important;
    color: var(--bs-gray);
    
    &:hover {
        color: black !important;
    }
}

.btn-learn-more {
    &:hover {
        .arrow {
            --arrow-body-opacity: 1;
            --arrow-head-transform: var(--arrow-hover-translation);
        }
    }
}

.arrow {
    --arrow-hover-transition: 150ms ease-in;
    --arrow-hover-translation: translateX(3px);
    --arrow-head-transform: none;
    --arrow-body-opacity: 0;

    position: relative;
    bottom: 1px;

    margin-left: 0.25rem;
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;
}

.arrow .arrow-tip {
    transform: var(--arrow-head-transform);
    transition: transform var(--hoverTransition,var(--arrow-hover-transition));
}

.arrow .arrow-line {
    opacity: var(--arrow-body-opacity);
    transition: opacity var(--hoverTransition,var(--arrow-hover-transition));
}