.footer-site-links {
    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding-block: 0.25em;
        }

        a {
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }

    }
}

.footer-legal {
    text-align: end;
}