.showcase {
    .card {
        padding: 4rem 1rem;
    }
}

.showcase-header {

    font-weight: 600;
    margin-bottom: 1.75rem;

    &::after {
        content: '';
        display: block;
        background-color: black;
        margin-top: 0.5rem;
        height: 0.125rem;
        width: auto;
    }

}