<!DOCTYPE html>
<html lang="en-gb">

<head>

    <!-- Metadata -->

    {{ partial "head/metadata.html" . }}

    {{ block "meta" . }}{{ end }}

    <title>{{ block "title" . }}{{.Page.Title}} | {{ .Site.Title }}{{ end }}</title>

    <!-- Fonts -->

    {{partial "head/fonts.html" . }}

    <!-- Styles -->

    {{ partial "head/stylesheets.html" . }}

</head>

<body>
    <!-- Wraps content in container unless front-matter has container: false -->
    {{ block "main" . }} {{ end }}

    {{ block "scripts" . }}
        {{ partial "scripts/scripts.html" . }}
    {{ end }}

</body>

</html>
