{{ define "main" }}
  <section class="py-16 max-w-5xl px-2 xl:px-0 mx-auto">
    {{ .Content }}
    <ul>
      <!-- Loop through all content pages (!= section) -->
      {{ range where .Pages "IsSection" false }}
        <li class="border-bottom py-6">
		<article>
          <h2 class="text-2xl font-semibold mb-2"><a class="link" href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p>{{ .Page.PublishDate.Format "January 2, 2006" }}</p>
          <p>{{ .Page.Description }}</p>
		</article>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
