{{ define "main" }}
<article
  class="prose blockquote:not-italic prose-headings:font-semibold prose-headings:font-sans prose-lead:text-neutral-900 dark:prose-lead:text-neutral-300 prose-neutral md:prose-lg prose-pre:bg-oat-200 prose-pre:text-neutral-800 dark:prose-pre:text-neutral-300 dark:prose-pre:bg-neutral-800 dark:prose-invert prose-code:font-medium prose-code:font-mono mt-20 mb-12 max-w-2xl font-serif"
>
  <h1>{{ .Title }}</h1>
  <p class="lead">{{ .Params.description }}</p>
  {{ .Content }}
</article>
{{ end }}
