// Get any var
$prefix: "rb-";

@function get-var($name, $fallback: null) {
  @if $fallback != null {
    @return var(--#{$prefix}#{$name}, #{$fallback});
  }
  @else {
    @return var(--#{$prefix}#{$name});
  }
}

// Add variable to root variable map
@mixin root-var($name, $value) {
  $root-vars: map-merge($root-vars, (#{$name}: $value)) !global;
}

@mixin root-var-dark($name, $value) {
  $root-vars-dark: map-merge($root-vars-dark, (#{$name}: $value)) !global;
}
 
// Add variable to current scope
@mixin set-var($name, $value) {
  --#{$prefix}#{$name}: #{$value};
}

// Add entire map to current scope
@mixin set-vars($var-map) {
  @each $name, $value in $var-map {
    @include set-var($name, $value);
  }
}