@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-oat-50: oklch(0.98 0.0054 95.1);
  --color-oat-100: oklch(0.968457 0.0054 95.1664);
  --color-oat-200: oklch(0.948457 0.0054 95.1664);
  --color-oat-300: oklch(0.868457 0.0054 95.1664);
  --color-oat-400: oklch(0.713457 0.0054 95.1664);
  --color-oat-500: oklch(0.558177 0.0054 93.602);
  --color-oat-600: oklch(0.438177 0.0054 93.602);
  --color-oat-700: oklch(0.37353 0.00998179 91.5937);
  --color-oat-800: oklch(0.274253 0.0100875 99.1327);
  --color-oat-900: oklch(0.216718 0.0114126 99.4465);
  --color-oat-950: oklch(0.172373 0.0120778 99.6909);
}

@layer utilities {
  .site-prose {
    @apply prose prose-blockquote:not-italic prose-headings:font-semibold prose-headings:font-sans prose-lead:text-neutral-900 dark:prose-lead:text-neutral-300 prose-neutral xl:prose-lg prose-pre:bg-oat-200 prose-pre:text-neutral-800 dark:prose-pre:text-neutral-300 dark:prose-pre:bg-neutral-800 dark:prose-invert prose-code:font-medium prose-code:font-mono mb-12 font-serif;
  }
  .site-prose code::before,
  .site-prose code::after {
    content: none !important;
  }
}
