{{ define "main" }}
  <section>
    <h1 class="font-semibold text-xl mb-3">{{ .Title }}</h1>
    {{ .Content }}
    <ul reversed>
      {{ range .Pages }}
        <li class="flex mb-2 justify-between gap-8">
          <a class="link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
          <time
            class="tabular-nums whitespace-nowrap"
            datetime="{{ dateFormat "2023-10-15T13:18:50Z" .Date }}"
            >{{ dateFormat "Jan 02, 2006" .Date }}</time
          >
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
