<!-- JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

{{ if .Params.toc }}

    {{ $tocJS := resources.Get "js/toc.js" | js.Build "toc.js" | minify | fingerprint }}

    <script src="{{ $tocJS.RelPermalink }}" integrity="{{ $tocJS.Data.Integrity }}"></script>

    <script>
        var elem = document.querySelector(".toc-nav");
        var toc = initTOC({
            selector: "h1, h2, h3, h4, h5, h6",
            scope: "#content",
            overwrite: false,
            prefix: "toc",
            listType: "ul",
        });
        elem.appendChild(toc);
    </script>
{{ end }}