@each $size in $type-scale {
    .text-#{$size} {
        font-size: map-get($text-sizes, $size);
        line-height: map-get($line-heights, $size);
    }
}

@each $font, $value in $font-families {
    .font-#{$font} {
        font-family: get-var("font-" + $font);
    }
}

.prose {
    font-family: get-var(font-sans);
}